$font-family-sans-serif: 'DINNextLTPro-Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-family: 'Arial Black', sans-serif;
$font-family-light: "DINNextLTPro-Light", sans-serif;
$font-family-condensed: "DINNextLTPro-Condensed", sans-serif;
$font-family-bold: "DINNextLTPro-Bold", sans-serif;
$font-family-bold-condensed: "DINNextLTPro-BoldCondensed", sans-serif;

$spacer: 1.25rem;


$pink: #E25466;
$pink-light: #FFB9B9;
$pink-lighter: #FFCCD2;
$pink-lightest: #FFE6E6;

$purple-darkest: #2F2E41;
$purple-dark: #3F3D56;
$purple: #666699;
$purple-light: #BFB8E6;
$purple-lighter: #CAC3E5;
$purple-lightest: #E7E5FF;
$purple-grey: #CACBD4;
$purple-grey-light: #E1E1E9;

$yellow: #F2D686;
$yellow-light: #FFF8E5;
$yellow-grey-light: #F0EBDF;

$grey-dark: #465056;
$grey: #7F807F;
$grey-light: #E6E6E6;

$theme-colors: (
  "primary": $pink,
  "secondary": $purple,
  "light": $grey-light,
  "dark": $grey-dark,
);

$body-bg: $grey-light;
$body-color: $grey-dark;

$headings-margin-bottom: $spacer * 3;

$card-color: $purple-grey-light;
$card-spacer-y: 1.25rem;

$link-color: $pink;

/* Navbar */
/* ====== */

$navbar-nav-link-padding-x: 1rem;

$navbar-dark-color: $grey-dark;
$navbar-dark-active-color: $grey-dark;

/* ====== */
