$font-family-sans-serif: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-family: 'Work Sans', sans-serif;

$spacer: 1.125rem;

$red: #E03616;
$red-pink: #D21A5A;
$pink-purple: #A53782;
$purple: #694A8D;
$medium-blue: #384E7A;
$dark-blue: #2F4858;

$theme-colors: (
  "primary": #E03616,
  "secondary": #F6AE2D,
  "light": #fff,
  "dark": #2F4858,
);

$body-bg: $medium-blue;
$body-color: #fff;

$navbar-nav-link-padding-x: 1rem;
