@font-face {
   font-family: 'DINNextLTPro-Black';
      src: url('../fonts/DINNextLTPro/DINNextLTPro-Black.eot');
      src: url('../fonts/DINNextLTPro/DINNextLTPro-Black.eot?#iefix') format('embedded-opentype'),
           url('../fonts/DINNextLTPro/DINNextLTPro-Black.woff') format('woff'),
           url('../fonts/DINNextLTPro/DINNextLTPro-Black.woff2') format('woff2'),
           url('../fonts/DINNextLTPro/DINNextLTPro-Black.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
};

@font-face {
   font-family: 'DINNextLTPro-Bold';
      src: url('../fonts/DINNextLTPro/DINNextLTPro-Bold.eot');
      src: url('../fonts/DINNextLTPro/DINNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
           url('../fonts/DINNextLTPro/DINNextLTPro-Bold.woff') format('woff'),
           url('../fonts/DINNextLTPro/DINNextLTPro-Bold.woff2') format('woff2'),
           url('../fonts/DINNextLTPro/DINNextLTPro-Bold.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
};

@font-face {
   font-family: 'DINNextLTPro-BoldCondensed';
      src: url('../fonts/DINNextLTPro/DINNextLTPro-BoldCondensed.eot');
      src: url('../fonts/DINNextLTPro/DINNextLTPro-BoldCondensed.eot?#iefix') format('embedded-opentype'),
           url('../fonts/DINNextLTPro/DINNextLTPro-BoldCondensed.woff') format('woff'),
           url('../fonts/DINNextLTPro/DINNextLTPro-BoldCondensed.woff2') format('woff2'),
           url('../fonts/DINNextLTPro/DINNextLTPro-BoldCondensed.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
};

@font-face {
   font-family: 'DINNextLTPro-Condensed';
      src: url('../fonts/DINNextLTPro/DINNextLTPro-Condensed.eot');
      src: url('../fonts/DINNextLTPro/DINNextLTPro-Condensed.eot?#iefix') format('embedded-opentype'),
           url('../fonts/DINNextLTPro/DINNextLTPro-Condensed.woff') format('woff'),
           url('../fonts/DINNextLTPro/DINNextLTPro-Condensed.woff2') format('woff2'),
           url('../fonts/DINNextLTPro/DINNextLTPro-Condensed.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
};

@font-face {
   font-family: 'DINNextLTPro-Light';
      src: url('../fonts/DINNextLTPro/DINNextLTPro-Light.eot');
      src: url('../fonts/DINNextLTPro/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
           url('../fonts/DINNextLTPro/DINNextLTPro-Light.woff') format('woff'),
           url('../fonts/DINNextLTPro/DINNextLTPro-Light.woff2') format('woff2'),
           url('../fonts/DINNextLTPro/DINNextLTPro-Light.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
};

@font-face {
   font-family: 'DINNextLTPro-LightCondensed';
      src: url('../fonts/DINNextLTPro/DINNextLTPro-LightCondensed.eot');
      src: url('../fonts/DINNextLTPro/DINNextLTPro-LightCondensed.eot?#iefix') format('embedded-opentype'),
           url('../fonts/DINNextLTPro/DINNextLTPro-LightCondensed.woff') format('woff'),
           url('../fonts/DINNextLTPro/DINNextLTPro-LightCondensed.woff2') format('woff2'),
           url('../fonts/DINNextLTPro/DINNextLTPro-LightCondensed.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
};

@font-face {
   font-family: 'DINNextLTPro-Regular';
      src: url('../fonts/DINNextLTPro/DINNextLTPro-Regular.eot');
      src: url('../fonts/DINNextLTPro/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
           url('../fonts/DINNextLTPro/DINNextLTPro-Regular.woff') format('woff'),
           url('../fonts/DINNextLTPro/DINNextLTPro-Regular.woff2') format('woff2'),
           url('../fonts/DINNextLTPro/DINNextLTPro-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
};
