@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
  background: linear-gradient(180deg, rgba(56,78,122,1) 0%, rgba(47,72,88,1) 100%);
  min-height: 100vh;
}

.card-title {
  color: $gray-900;
}

.map {
  min-height: 400px;
}

.nav-link {
  font-size: 20px;
}

.title {
  color: $red;
}

.heart-emoji {
  font-size: 3.25rem;
}

.contact-card {
  min-width: 350px;
  width: 400px;
}

.contact-link {
  font-size: 1.25rem;
  font-weight: 500;
}

.contact-card-title {
  font-size: 1rem;
  font-weight: 300;
}