@import "custom";
@import "fonts";
@import "index"
@import "~bootstrap/scss/bootstrap";

/* Typography */
/* ========== */

h1 {
  font-size: 55px;
  line-height: 65px;

  &.purple {
    color: $purple-darkest;
  }
}

h2 {
  font-size: 36px;
  line-height: 44px;

  &.purple {
    color: $purple-darkest;
  }

  &.light {
    color: $yellow-grey-light;
  }
}

h3 {
  font-family: $font-family-light;
  font-size: 26px;
  line-height: 32px;

  &.alt {
    font-family: $headings-font-family;
    font-weight: regular;
  }
}

h4 {
  font-family: $font-family-bold-condensed;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.4px;

  &.light {
    color: $yellow-grey-light;
  }
}

p {
  font-family: $font-family-light;
  font-size: 20px;
  line-height: 26px;

  &.pink {
    color: $pink;
  }

  &.bold {
    font-family: $font-family-sans-serif;
    font-weight: bold;
  }
}

h6 {
  font-family: $font-family-light;
  font-size: 16px;
  line-height: 22px;
  color: $grey;

  &.pink {
    color: $pink;
    font-size: 20px;
  }

  &.light {
    color: $yellow-grey-light;
  }

  &.bold {
    font-family: $font-family-bold;
  }
}

a {
  font-size: 20px;
  font-family: $font-family-bold-condensed;
  line-height: 22px;
  color: $pink;
  text-transform: uppercase;
  text-decoration: underline;

  &.light {
    color: $yellow-grey-light;
  }

  &.thin {
    font-family: $font-family-light;
    color: $grey-dark;
  }
}

small {
  font-family: $font-family-light;
  font-size: 12px;
  line-height: 16px;

  &.light {
    color: $yellow-grey-light;
  }
}

/* ========== */

/* Navbar */
/* ========== */

.nav-item.home .underline {
  width: 0;
}

.navbar-nav .nav-item .nav-link {
  font-family: $font-family-sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;

  &:hover {
    color: $pink;
  }
}

.nav-item .underline {
  height: 1px;
	background-color: $yellow-grey-light;
	transition: width 0.2s, background-color 0.5s;
	margin: 10px auto;
}

.nav-item a.active + .underline {
	width: 100%;
	background-color: $pink;
}

.nav-item .nav-link:hover + .underline {
  background-color: $pink;
}

.nav-item.social .nav-link {
  padding-left: 4px;
  padding-right: 4px;
  display: inline-block;

  &.twitter {
    padding-left: $spacer*2;
  }
}

.nav-item.social:hover .underline {
  background-color: $yellow-grey-light;
}


/* @include media-breakpoint-down(sm) { */
/*   .nav-item .underline { */
/*     display: none; */
/*   } */
/* } */

/* ========== */

/* Footer */
/* ========== */

footer {
  background-color: $purple-darkest;
}

footer .footer-content {
  border-top: solid 1px hsla(42, 36%, 91%, 0.2);
  border-bottom: solid 1px hsla(42, 36%, 91%, 0.2);
}

footer .contact-link {
  text-decoration: underline;
  text-decoration-color: $yellow-grey-light;
  text-transform: none;

  &:hover {
    text-decoration-color: $pink;
  }
}

footer .contact-link:hover h6 {
  color: inherit;
}

footer .social a {
  color: $yellow-grey-light;
  margin: 0 4px;

  &:first-of-type {
    margin-left: 0;
  }

  &:hover {
    color: $pink;
  }
}

/* ========== */

/* Buttons */
/* ========== */

.btn {
  text-transform: uppercase;
  letter-spacing: 0.07px;
  text-decoration: underline;
  text-underline-position: under;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  &:hover {
    text-decoration: underline;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.btn.btn-lg {
  width: 380px;
  height: 90px;
}

.btn.light {
  color: $yellow-grey-light;
}

.btn.btn-primary {
  &:hover {
    background-color: $pink;
    border-color: $pink;
  }
}

.btn.btn-secondary {
  &:hover {
    background-color: $purple-darkest;
    border-color: $purple-darkest;
  }
}

/* ========== */

.card-title {
  color: $gray-900;
}

.contact-card {
  min-width: 400px;
  width: 450px;
}

.contact-card-title {
  font-size: 1.25rem;
  font-weight: 300;
}

@include media-breakpoint-down(md) {
  .contact-card {
    min-width: 350px;
    width: 400px;
  }

  .contact-link {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .contact-card-title {
    font-size: 1rem;
    font-weight: 300;
  }
}
